In [2]:
#SETUP

!pip install seaborn 

# import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

Requirement already satisfied (use --upgrade to upgrade): seaborn in /Users/jannelee/anaconda/lib/python2.7/site-packages

In [105]:
# load dataset

df = pd.read_csv('titanic.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [9]:
# Q1. How many passengers are in our passenger list? 
# From here forward, weâ€™ll assume our dataset represents the full passenger list for the Titanic.

print len(df)

# There are are 891 passengers

891

In [36]:
# Q2. What is the overall survival rate?

total_survived = float(df.Survived.sum())
total_passengers = float(df.Survived.count())

print total_survived
print total_passengers

print total_survived / total_passengers

# The overall survival rate is 38%

342.0
891.0
0.383838383838

In [45]:
#Q3. How many male passengers were onboard?

len(df[df.Sex == "male"])

# There are 577 males passengers onboard

577

In [46]:
# Q4. How many female passengers were onboard?

len(df[df.Sex == "female"])

# There are 314 females passengers onboard

314

In [60]:
#Q5. What is the overall survival rate of male passengers?

male_df = df[df.Sex == 'male']
print float(male_df.Survived.sum()) / float(len(male_df))

# The overall survival rate of male passengers is 19%

0.188908145581

In [61]:
#Q6. What is the overall survival rate of female passengers?

female_df = df[df.Sex == 'female']
print float(female_df.Survived.sum()) / float(len(female_df))

# The overall survival rate of male passengers is 74%

0.742038216561

In [72]:
#Q7. What is the average age of all passengers onboard?

#How did you calculate this average age?
#Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?

print df.Age.mean()
len(df[df.Age.isnull()])

# The average age of passengers who survived is 29.7. There are 177 passengers that do not have ages. 
# I did not include these ages in the calculatio of the mean.
# Another way to deal with this is to replace the null values with the average age of the passengers with ages.

29.6991176471

177

In [67]:
#Q7. What is the average age of passengers who survived?

df[df.Survived == 1].Age.mean()

# The average age of passengers who survived is 28.3

28.343689655172415

In [74]:
#Q7. What is the average age of passengers who did not survive?

df[df.Survived == 0].Age.mean()

# The average age of passengers who did not survive is 30.6

30.626179245283019

In [75]:
#Q8.  At this (early) point in our analysis, what might you infer about any patterns you are seeing?

# Females had a higher chance of survival than males
# Age does not seem to play a role in survival

In [91]:
#Q9. How many passengers are in each of the three classes of service (e.g. First, Second, Third?)

for i in [1,2,3]:
    print str(i) + " " + str(len(df[df.Pclass == i]))

# First = 216
# Second = 184
# Third = 491

1 216
2 184
3 491

In [100]:
#Q10. What is the survival rate for passengers in each of the three classes of service?

for i in [1,2,3]:
    x = float(len(df[df.Pclass == i]))
    y = float(len(df[(df.Pclass == i) & (df.Survived == 1)]))
    
    print "Survival Rate in Class " + str(i) + " is: " + str(y/x)

Survival Rate in Class 1 is: 0.62962962963
Survival Rate in Class 2 is: 0.472826086957
Survival Rate in Class 3 is: 0.242362525458

In [111]:
#Q11. What else might you conclude?

# Look at Fare:

print df[df.Survived == 1].Fare.mean()
print df[df.Survived == 0].Fare.mean()

# Look at Embarked:

Embarked_List = df.Embarked.unique()

for i in Embarked_List[:3]:
    x = float(len(df[df.Embarked == i]))
    y = float(len(df[(df.Embarked == i) & (df.Survived == 1)]))
    
    print "Survival Rate in Embarked " + str(i) + " is: " + str(y/x)

# Class 1 had a high chance of survival, having a higher ticket price may also be an indicator of survival

48.3954076023
22.1178868852
Survival Rate in Embarked S is: 0.336956521739
Survival Rate in Embarked C is: 0.553571428571
Survival Rate in Embarked Q is: 0.38961038961

In [ ]:
#Q12. Last, if we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?

# We would most likely include sex, class and fare as a strong indicator of whether or not a passenger would survive.
# Age and Embarked is a feature we would not likely include in the model.